.home-container .results {
  border: 1px solid #e8e8e8;
  border-radius: 0.3em;
  position: absolute;
  width: 24.5em;
  background: white;
}

.home-container .result {
  border-bottom: 1px solid #e8e8e8;
  text-align: start;
  margin: 0;
  padding: 1em;
}